{
  "ignorePatterns": [
    "!**/*",
    "node_modules/**/*",
    ".storybook/dist/**/*",
    "tailwind.config.js",
    "tailwind.colors.js"
  ],
  "extends": [
    "plugin:storybook/recommended"
  ]
}