$primary: #f8813f;
$secondary: #f9c441;
$dark-plex: #282a2d;

@import '~bulma/bulma';

@import '~bulma-switch/dist/css/bulma-switch';
@import '~bulma-pageloader/dist/css/bulma-pageloader';
@import '~bulma-tooltip/dist/css/bulma-tooltip.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.has-text-secondary {
  color: $secondary;
}

.has-background-secondary {
  background-color: $secondary;
}

.is-pointed {
  cursor: pointer;
}

.has-link-style {
  cursor: pointer;
  color: #5586dc;
}

.has-link-style:hover {
  color: #5c5c5c;
}

.is-secondary-button {
  background-color: $secondary;
  color: $grey-darker;
  border: none;
}

.has-background-dark-plex {
  background-color: $dark-plex;
  color: White;
}

.is-plex-button {
  background-color: $dark-plex;
  color: LightGrey;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;

  &:hover {
    color: white;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
