* {
  box-sizing: border-box;
  font-feature-settings: "lnum";
}

html,
body,
#root {
  @apply w-full h-full m-0;
}

body {
  @apply bg-primary-darker font-body text-opacity-90 text-primary-lighter;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-light;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  @apply rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-primary-dark;
}
