$primary: #f8813f;
$secondary: #f9c441;

@import '~bulma/bulma';

@import '~bulma-switch/dist/css/bulma-switch';
@import '~bulma-pageloader/dist/css/bulma-pageloader';
@import '~bulma-tooltip/dist/css/bulma-tooltip.min.css';

.has-text-secondary {
  color: $secondary;
}

.is-pointed {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
