aiofiles
alembic
apscheduler
celery[redis]
click
emails
email-validator
fastapi
itsdangerous
jinja2
passlib[bcrypt]
PlexAPI
pydantic
pytest
pytest-mock
python-jose[cryptography]
python-multipart
sqlalchemy
requests
tmdbsimple
uvicorn
