celery[redis]
cloudinary
Flask
Flask-Caching
Flask-Cors
Flask-Limiter
Flask-Login
Flask-Marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-Talisman
gunicorn
imdbpy
itsdangerous
marshmallow-sqlalchemy
passlib
PlexAPI
psycopg2-binary
pytest
pytest-mock
requests
sendgrid
sqlalchemy
Werkzeug