.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 2%;
}

.friend-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.friends-list-container {
  padding: 2%;
}