#user-picture {
  object-fit: cover;
  width:260px;
  height:260px;
}

.profile-container {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-image {
  display: none
}